$color-error: #DC493A;
$color-text: #393D3F;
$color-text-hover: #202124;
$color-border: #c0c0c0;

div.window-page-metadata {
  width: 100%;
  max-width: 600px;

  code {
    margin-bottom: 16px;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  textarea {
    display: none;
    width: 100%;
    height: 32px;
    line-height: 18px;
    padding: 6px 8px;
    resize: none;
    z-index: 120;
  }

  input {
    height: 32px;
    width: 100%;
  }

  div.attr {
    position: relative;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    input.name {
      position: absolute;
      top: 6px;
      left: 6px;
      height: 20px;
      font-size: 12px;
      color: #ffffff;
      padding: 0 8px;
      display: inline-block;
      border-radius: 2px;
      background: $color-text;
      width: 70px;
      text-align: center;
      border: none;
    }

    label:hover {
      background: $color-text-hover;
    }

    input.value {
      padding-left: 85px;
      border: 1px solid $color-border;
      border-radius: 4px;
    }
  }
}
div.window-page-metadata div.btns {margin-top: 8px;font-size: 12px;color: #009900;}
div.window-page-metadata div.btn-add {display: inline-block;cursor: pointer;}
div.window-page-metadata div.btn-add:hover {
  text-decoration: underline;
}
div.window-page-metadata div.btn-remove {
  width: 32px;
  height: 32px;
  background: url("data:image/svg+xml,%3Csvg height='427pt' viewBox='-40 0 427 427.00131' width='427pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m232.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3Cpath d='m114.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3Cpath d='m28.398438 127.121094v246.378906c0 14.5625 5.339843 28.238281 14.667968 38.050781 9.285156 9.839844 22.207032 15.425781 35.730469 15.449219h189.203125c13.527344-.023438 26.449219-5.609375 35.730469-15.449219 9.328125-9.8125 14.667969-23.488281 14.667969-38.050781v-246.378906c18.542968-4.921875 30.558593-22.835938 28.078124-41.863282-2.484374-19.023437-18.691406-33.253906-37.878906-33.257812h-51.199218v-12.5c.058593-10.511719-4.097657-20.605469-11.539063-28.03125-7.441406-7.421875-17.550781-11.5546875-28.0625-11.46875h-88.796875c-10.511719-.0859375-20.621094 4.046875-28.0625 11.46875-7.441406 7.425781-11.597656 17.519531-11.539062 28.03125v12.5h-51.199219c-19.1875.003906-35.394531 14.234375-37.878907 33.257812-2.480468 19.027344 9.535157 36.941407 28.078126 41.863282zm239.601562 279.878906h-189.203125c-17.097656 0-30.398437-14.6875-30.398437-33.5v-245.5h250v245.5c0 18.8125-13.300782 33.5-30.398438 33.5zm-158.601562-367.5c-.066407-5.207031 1.980468-10.21875 5.675781-13.894531 3.691406-3.675781 8.714843-5.695313 13.925781-5.605469h88.796875c5.210937-.089844 10.234375 1.929688 13.925781 5.605469 3.695313 3.671875 5.742188 8.6875 5.675782 13.894531v12.5h-128zm-71.199219 32.5h270.398437c9.941406 0 18 8.058594 18 18s-8.058594 18-18 18h-270.398437c-9.941407 0-18-8.058594-18-18s8.058593-18 18-18zm0 0'/%3E%3Cpath d='m173.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3C/svg%3E") 50% 50% no-repeat;
  background-size: 16px 16px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: .7;
  display: none;
}
div.window-page-metadata div.btn-remove:hover {opacity: 1;}
div.window-page-metadata div.attr:hover input.value {padding-right: 41px;}
div.window-page-metadata div.attr:hover div.btn-remove {display: block;}
div.window-page-metadata div.window-buttons {position: relative;}
div.window-page-metadata button {width: 80px;}
div.window-page-metadata button.btn-delete {position: absolute;top: 0;right: 48px;border: 1px solid $color-text;border-radius: 3px;background: none;color: $color-text;}
div.window-page-metadata button.btn-delete:hover {color: $color-error;}
div.window-page-metadata.expanded textarea {display: block;}
div.window-page-metadata.expanded code,
div.window-page-metadata.expanded div.attributes-wrap {display: none;}
.ui-autocomplete.page-meta {max-height: 300px;overflow-y: auto;overflow-x: hidden;font-size: 12px;line-height: 14px;}

code {line-height: 18px;display: block;}
code div.ui-sortable-helper {background: #ffffff;}
code div.meta:last-child {margin-bottom: 0;}
code span.name {color: #0000E6;}
code span.attr {color: #009900;}
code span.string {color: #CE7B00;}
div.page-content-head div.btn-add {margin-top: 9px;text-align: right;border-top: 1px solid $color-border;padding-top: 9px;}
div.page-content-head div.btn-add a {color: #0000E6;text-decoration: underline;}
div.page-content-head div.btn-add a:hover {text-decoration: none;}

code.editable div.meta {cursor: pointer;}
code.editable div.meta:hover {font-weight: bold;}
